body {
	background: #fefefe;
	font: .8em Tahoma, sans-serif;
	color: black;
	border: 0;
	margin: 0;
}

h1 {
	color: #444;
	font-size: 1.8em;
}
h2 {
	color: #444;
	font-size: 1.5em;
}

p {
	margin: 10px;
}


#banner {
	height: 40px;
}

#banner img {
	position: absolute;
	left: 0;
	border: none;
}
div.navbar {
	position: absolute;
	top: 58px;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #eee;
}

#menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 26px;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px /*#a0b0c4*/#ccc;
}

#menu li {
  display: inline;
  padding: 0;
  margin: 0;
}

#menu li a:link, #menu li a:visited {
  text-decoration: none;
  text-align: center;
  float: right;
  display: block;
  width: 6em;
  margin-bottom: 20px;
  padding: 5px 0 5px 0;
  margin: 0;
  color: #0072ff;
  font-size: 1em;
  border-left: solid 1px #ccc;
  border-bottom: none;
}

#menu li a:hover, #selected:link, #selected:visited {
  text-decoration: none;
  background-color: #dedede;
  color: #004090;
  border-top: none;
  border-bottom: none;
}

#menu li a:active {
  color: #053188;
  text-decoration: none;
}

#subs {
  list-style-type: none;
}

#subs li {
  margin: 10px 0 10px -20px;
}

#leftmenulist {
  text-align: right;
  background: #eee;
  list-style-type: none;
  display: inline;
  position: absolute;
  left: -40px;
  top: 100px;
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
#leftmenulist li {
  margin: 5px 0 5px;
  padding: 5px 15px 5px 15px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}
#leftmenulist li a:link, #leftmenulist li a:visited { 
  text-decoration: none;
  border-bottom: none;
  display: block;
}
#leftmenulist li:hover {
  background: #dedede;
  margin: 5px -15px 5px;
  border-right: dotted 1px #0072ff;
  border-top: dotted 1px #0072ff; 
  border-bottom: dotted 1px #0072ff; 
}
em {
	color: #004090;
}
a img {
	border: none;
}
a:link, a:visited {
	text-decoration: none;
	color: #0072ff;
	border-bottom: thin groove #0072ff;
}
a:hover {
	text-decoration: none;
	color: #004090;
	border-bottom: thin dotted #004090;
}
/*a:visited {
	text-decoration: none;
	color: #c13d02;
	border-bottom: thin groove #c13d02;
}
a:visited:hover {
	text-decoration: none;
	color: #782602;
	border-bottom: thin dotted #782602;
}*/
div.main {
	position: absolute;
	top: 95px;
	left: 150px;
}
