body {
	background: #fefefe;
	font: .8em Tahoma, sans-serif;
	color: black;
	border: 0;
	margin: 0;
}

h1 {
	color: #333;
	font-size: 1.7em;
}
h2 {
	color: #333;
	font-size: 1.4em;
}

.newsItem {
	font-style: italic;
	padding-bottom: 5px;
	font-size: .9em;
	border-bottom: 1px dotted blue;
}

p {
	margin: 10px;
}

#search {
	position: absolute;
	right: 0;
	top: 5px;
	margin: 5px 0 5px 0;
}
select {
	color: #333;
}
select:hover {
}	
input {
	border: 1px solid #ccc;
	background: #eee;
	color: #0072ff;
}
input:hover {
	color: #004090;
	background: #ddd;
}
#banner {
	height: 40px;
}

#banner img {
	position: absolute;
	left: 0;
	border: none;
}
div.navbar {
	position: absolute;
	top: 58px;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #eee;
	text-align: right;
	border-bottom: solid 1px #ccc;
	border-top: solid 1px #ccc;
}

#menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  top 58px;
  height: 24px;
/*  right: 0; */
}

#menu li {
  display: inline;
  padding: 0;
  margin: 0;
}

#lfsactive:link, #lfsactive:visited, #alfsactive:link, #alfsactive:visited, #blfsactive:link, #blfsactive:visited, #hlfsactive:link, #hlfsactive:visited, #hintsactive:link, #hintsactive:visited, #livecdactive:link, #livecdactive:visited, #patchesactive:link, #patchesactive:visited { text-decoration: none; text-align: center; /* float: right; */ display: block; width: 6em; padding: 5px 0 2px 0; background-color: #ddd; color: #0072ff; font-size: 1em; border-bottom: solid 3px #ddd; margin-bottom: -1px; }

#lfsactive:link, #lfsactive:visited {
border-bottom: solid 3px #0072ff;
}
#alfsactive:link, #alfsactive:visited {
border-bottom: solid 3px #92d800;
}
#blfsactive:link, #blfsactive:visited {
border-bottom: solid 3px #ffd500;
}
#hlfsactive:link, #hlfsactive:visited {
border-bottom: solid 3px #fd7700;
}
#hintsactive:link, #hintsactive:visited {
border-bottom: solid 3px #8400ff;
}
#livecdactive:link, #livecdactive:visited {
border-bottom: solid 3px red;
}
#patchesactive:link, #patchesactive:visited {
border-bottom: solid 3px blue;
}

#lfs:link, #lfs:visited, #blfs:link, #blfs:visited, #alfs:link, #alfs:visited, #hlfs:link, #hlfs:visited, #hints:link, #hints:visited, #livecd:link, #livecd:visited, #patches:link, #patches:visited {
text-decoration: none; text-align: center; /* float: right; */ display: block; width: 6em; padding: 5px 0 2px 0; color: #0072ff; font-size: 1em; border-bottom: solid 3px #eee; margin-bottom: -1px;
}

#lfs:hover, #lfsactive:hover { text-decoration: none; border-bottom: solid 3px #0072ff; background-color: #ddd }
#alfs:hover, #alfsactive:hover { text-decoration: none; border-bottom: solid 3px #92d800; background-color: #ddd }
#blfs:hover, #blfsactive:hover { text-decoration: none; border-bottom: solid 3px #ffd500; background-color: #ddd }
#hlfs:hover, #hlfsactive:hover { text-decoration: none; border-bottom: solid 3px #fd7700; background-color: #ddd }
#hints:hover, #hintsactive:hover { text-decoration: none; border-bottom: solid 3px #8400ff; background-color: #ddd }
#livecd:hover, #livecdactive:hover { text-decoration: none; border-bottom: solid 3px red; background-color: #ddd }
#patches:hover, #patchesactive:hover { text-decoration: none; border-bottom: solid 3px blue; background-color: #ddd }

#subs {
  list-style-type: none;
}

#subs li {
  margin: 10px 0 10px -30px;
}

#leftmenulist, #lfsmenulist, #alfsmenulist, #blfsmenulist, #hlfsmenulist, #hintsmenulist, #livecdmenulist, #patchesmenulist {
  text-align: right;
  background: #eee;
  list-style-type: none;
  display: inline;
  position: absolute;
  left: -40px;
  top: 100px;
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

#leftmenulist li a:link, #leftmenulist li a:visited, #lfsmenulist li a:link, #lfsmenulist li a:visited, #alfsmenulist li a:link, #alfsmenulist li a:visited, #blfsmenulist li a:link, #blfsmenulist li a:visited, #hlfsmenulist li a:link, #hlfsmenulist li a:visited, #hintsmenulist li a:link, #hintsmenulist li a:visited, #livecdmenulist li a:link, #livecdmenulist li a:visited, #patchesmenulist li a:link, #patchesmenulist li a:visited { 
  text-decoration: none;
  border-bottom: solid 3px #eee;
  padding: 5px 15px 5px 15px;
  display: block;
}

#leftmenulist li a:hover, #lfsmenulist li a:hover, #alfsmenulist li a:hover, #blfsmenulist li a:hover, #hlfsmenulist li a:hover, #hintsmenulist li a:hover, #livecdmenulist li a:hover, #patchesmenulist li a:hover {
  background: #dedede;
}

#leftmenulist li a:hover { border-bottom: solid 3px silver; }
#lfsmenulist li a:hover { border-bottom: solid 3px #0072ff; }
#alfsmenulist li a:hover { border-bottom: solid 3px #92d800; }
#blfsmenulist li a:hover { border-bottom: solid 3px #ffd500; }
#hlfsmenulist li a:hover { border-bottom: solid 3px #fd7700; }
#hintsmenulist li a:hover { border-bottom: solid 3px #8400ff; }
#livecdmenulist li a:hover { border-bottom: solid 3px red; }
#patchesmenulist li a:hover { border-bottom: solid 3px blue; }

em {
	font-weight: bold;
	color: #444;
}
a img, div.footer a:link, div.footer a:hover, div.footer a:visited {
	border: none;
}
a:link, a:visited {
	text-decoration: none;
	color: #0072ff;
	border-bottom: groove 1px #0072ff;
}
a:hover {
	text-decoration: none;
	color: #004090;
	border-bottom: dotted 1px #004090;
}
/*a:visited {
	text-decoration: none;
	color: #c13d02;
	border-bottom: thin groove #c13d02;
}
a:visited:hover {
	text-decoration: none;
	color: #782602;
	border-bottom: thin dotted #782602;
}*/
div.main {
	position: absolute;
	top: 95px;
	left: 150px;
}
div.footer #first {
	margin-top: 40px;
}
div.footer #firefox {
	position: relative;
	top: 5px;
	margin-left: 5px;
}
div.footer p {
	color: #bcbcbc;
	font-size: .8em;
	margin-top: -5px;
}

/** Navigation Headers ***/
/*.vc_navheader {
 background-color: #cccccc;
} 
*/

/*** Table Headers ***/
/* .vc_header {
  text-align: left;
  background-color: #eee;
}
.vc_header_sort {
  text-align: left;
  background-color: #eee;
}
*/

/*** Table Rows ***/
/* .vc_row_even {
  background-color: #ffffff;
}
.vc_row_odd {
  background-color: #eee;
}
*/
/* a { text-decoration: none; } a:hover { color: #99f; } a:visited { color:  #711; } a:visited:hover { color: #866; }*/

.cmd { font: 1.1em monospace; background: #eee; padding: 5px 0; margin: 0 10px; border: 1px dashed blue }
.cmd p { margin: 10px 15px; }

