#mailmenu {
	margin-top: 5px;
	padding-bottom: 1px;
	border: 1px #d6e8ad dashed;
}
#mailmenu span {
	margin-left: 10px;
}
#tab {
	background-color: #d6e8ad;
	padding: 2px 7px 2px 7px;
}
.bold {
	font-weight: bold;
}
form fieldset {
	border-width: 1px;
	border-color: #8ac1ff;
	border-style: dashed;
	margin: 0 10px 0 10px;
}
#error {
	color: red;
}
.submenu:hover {
	background-color: #cfddff;
}
.submenu:visited {
	color: #116;
}
.submenu:visited:hover {
	color: #116;
}
.submenu:link {
	color: #116;
}
.listread, .listunread {
	border-top: 1px #116 dashed;
	margin: 0 15px 7px 15px;
	padding-top: 7px;
}
.listread a:link {
	color: #c13d02;
}
.listread a:hover {
	color: #782602
}
.listunread a:visited, #select:visited {
	color: #4a0;
}
.listunread a:visited:hover, #select:visited:hover {
	color: #295e05
}
#msg {
	position: absolute;
	top: 100%;
}
