#top {:q
	background-color #00b;
	padding: 1em;
}

p.intro {
	color: white;
	font-weight: bold;
}

body {
	font-family: verdana, sans;
	color: blue;
	font-size: .8em;
	background-color: rgb(207,221,255);
}
.bg {
	background: transparent url(../res-back.gif) no-repeat center;
}
h1 {
	color: blue;
	background-color: silver;
	padding: .5em;
}
h2 {
	background-color: #ccc;
	color: blue;
	margin: 1em;
	border-style: groove;
	border-width: 3px;
	border-color: white;
	padding: .25em;
}
a:link {
	text-decoration: none;
	color: red;
	font-style: italic;
}
a:visited {
	text-decoration: none;
	color: green;
	font-style: italic;
}
a:active {
	text-decoration: none;
	color: red;
	font-style: none;
}
a:hover {
	text-decoration: none;
	color: #a00;
	font-style: italic;
}
p {
	letter-spacing: 0.5em;
	word-spacing: 2em;
	line-height: 1.5em;
	text-align: center;
}
